.pokedex-wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
    /* justify-content: center;
    align-items: center; */
}

#pokedex-heading{
    margin: 30px auto 0;
    letter-spacing: 5px;
}

