.pokemon-details{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.loading{
    margin: 50px 500px;
}

.pokemon-details-wrapper{
    background-color:beige ;
    padding: 20px;
    margin:20px auto;
    border-radius: 16px;
    border: 2px solid black;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.img{
    height:300px;
}

.name{
    letter-spacing: 5px;
    font-size: 2.25rem;
}

.height, .weight{
    font-size:1.25rem;
    padding: 5px 10px;
}

.types{
    margin-top:10px;
}

span{
    background-color: rgb(233, 233, 233);
    padding:5px 10px;
    margin-left:10px;
    border: 1px solid black;
    border-radius: 10px;
}

.similar-pokemon-wrapper h2{
    text-align: center;
}

.similar-pokemon-wrapper ul{
    margin-left:20px;
}